<h1>
  <%= @job.title %>
  <%= link_to "Delete", @job, method: :delete, class: "btn btn-warning pull-right" %>
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-primary pull-right" %>
</h1>
<%= simple_format(@job.description) %>
<h2>Contact Information</h2>
<ul>
  <li>Email: <%= @job.email %></li>
  <li>Phone: <%= @job.phone %></li>
</ul>
